<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>
        <li><button type="button" href="#" (click)="onSaveData()">Save Data</button></li>
        <li><button type="button" href="#" (click)="onFetchData()">Fetch Data</button></li>
      </ul>
    </div>

  </div>
</nav>
